name: Publish Packages
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Install Dependencies
        run: yarn

# https://github.com/changesets/action/issues/66
      - name: Create Release Pull Request
        uses: jacobwgillespie/changesets-action@resolve-from
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_OPTIONS: -r /home/runner/work/workspace-publish/workspace-publish/.pnp.js
