name: Publish Packages
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v1
      - name: Install Dependencies
        run: yarn install
# https://github.com/changesets/action/issues/66
      - name: Create Release Pull Request
        uses: jacobwgillespie/changesets-action@resolve-from
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          NODE_OPTIONS: -r /home/runner/work/workspace-publish/workspace-publish/.pnp.js
