# This is a basic workflow to help you get started with Actions

name: Prepare Release

# Controls when the action will run. 
on:
  push:
    branches:
      - "main"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      # TODO: Investigate https://docs.github.com/en/actions/guides/caching-dependencies-to-speed-up-workflows

      - name: Install packages
        run: yarn install

      - name: Install packages
        run: yarn version apply --all

      - name: Get CSS Version
        id: css_version
        run: echo "::set-output name=version::$(yarn workspace @petergerrard/css get-version)"
        
      - name: Get Components Version
        id: components_version
        run: echo "::set-output name=version::$(yarn workspace @petergerrard/components get-version)"

      - name: Check version match
        if: ${{ steps.css_version.outputs.version != steps.components_version.outputs.version }}
        run: echo "CSS " && echo "Components " && exit 1

      - name: Create changelog
        id: changelog
        run: |-
          yarn lerna-changelog --next-version v${{ steps.css_version.outputs.version }} > RELEASE_NOTES.md
          cp RELEASE_NOTES.md  NEXT_CHANGELOG.md
          cat CHANGELOG.md >> NEXT_CHANGELOG.md
          mv NEXT_CHANGELOG.md CHANGELOG.md
          echo "v${{ steps.css_version.outputs.version }}" > VERSION.txt
        env:
          GITHUB_AUTH: ${{ secrets.TOKEN }}
      - name: Create Commit
        run: |-
          git config user.email "release-bot@github.com"
          git config user.name "Release Bot"
          git add .
          git commit -m "Release ${{ steps.css_version.outputs.version }}"
          git push --force origin HEAD:release
      - uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head: 'release',
              title: "Release ${{ steps.css_version.outputs.version }}"
            })
        
